body {
  margin: 0;
}

.nav {
  display: flex;
  justify-content: center;
  background-color: black;
  color: red;
  margin: 10px 10px ;
  text-shadow: 1px 1px white;
}

.character-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.slayers {
  display: flex;
  flex-wrap: wrap;
}

img {
 width: 30%;
height: auto;
border: none;
border-radius: 10px 10px;
border-bottom: 5px solid black;
margin-left: 500px;
margin-top: 30px;
}

ul{ 
  list-style: none;
}